nav {
  background-color: #f7c566;
  color: #6c0345;
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
}
